---
// Layout
import Layout from "../../../layouts/Layout.astro";

// Libs
import { useTranslations } from "../../../lib/i18n/utils";
import { getStaticPathsLangs } from "../../../lib/utils";
import { marked } from "marked";

// i18n
// export const getStaticPaths = getStaticPathsLangs;

// Components
import PageSEO from "../../../components/utils/PageSEO.astro";
import BookingForm from "../../../components/organisms/BookingForm";
import SectionHeading from "../../../components/molecules/SectionHeading.astro";
import DestinationsList from "../../../components/organisms/Destinations.astro";

// Images
import homeBannerImg from "../../../assets/images/home-banner.webp";

// Page data
const page = "destinations";

// Props
interface Props {
  lang: "en" | "es";
  pageKey: string;
}
// Get language from params or props
const { lang, pageKey } = Astro.props;

// Tranlation texts
const t = useTranslations(lang);
---

<Layout preloadImage={homeBannerImg.src} pageKey={pageKey}>
  <!-- Page SEO -->
  <PageSEO currentPage={page} slot="seo" />

  <section class="container mx-auto px-4 py-12">
    <div class="mb-8 max-w-3xl">
      <p class="text-accent mb-2 text-sm font-bold tracking-wider uppercase">
        {t("pages.destinations.tagline")}
      </p>
      <SectionHeading title={t("pages.destinations.title")}>
        <p class="text-gray-dark leading-relaxed">
          {t("pages.destinations.description")}
        </p>
      </SectionHeading>
    </div>

    <aside>
      <!-- Form -->
      <div class="form-wrapper debug @container max-w-md">
        <BookingForm
          translations={t("global.booking")}
          defaultFrom="cun"
          defaultTo="merida"
          client:idle
          className="px-0!"
        />
      </div>
    </aside>
  </section>

  <DestinationsList page={page} />
</Layout>
