---
interface Props {
  variant?: 'primary' | 'secondary' | 'dark'
}

const { variant = 'primary' } = Astro.props

const styles = {
  primary: 'bg-accent text-white',
  secondary: 'bg-white text-accent',
  dark: 'bg-dark text-dark-dark',
}
---

<div class={`btn ${styles[variant]} px-6 py-5 rounded-lg text-sm`}>
  <slot />
</div>
