---
// Layout
import Layout from '../../../layouts/Layout.astro'

// Components
import PageSEO from '../../utils/PageSEO.astro'
import BannerImage from '../../atoms/BannerImage.astro'
import SelectedVehicleCard from '../../organisms/SelectedVehicleCard'

// Images
import processBannerImg from '../../../assets/images/banners/process.png'

// Libs
import { useTranslations } from '../../../lib/i18n/utils'

interface Props {
  lang: 'en' | 'es'
  pageKey: string
}

const { lang, pageKey } = Astro.props
const t = useTranslations(lang)
---

<Layout pageKey={pageKey}>
  <PageSEO
    currentPage='register'
    slot='seo'
  />

  <BannerImage
    src={processBannerImg}
    alt={t('pages.register.title')}
    title={t('pages.register.title')}
    class='-mt-6 h-[200px]!'
  >
    <h1 class='mx-auto w-11/12 text-4xl font-bold md:text-5xl'>
      {t('pages.register.title')}
    </h1>
  </BannerImage>

  <div class='container max-w-4xl'>
    <!-- Selected Vehicle Summary -->
    <SelectedVehicleCard
      lang={lang}
      client:load
      className='mt-12'
    />
  </div>
</Layout>
