---
// Layout
import Layout from '../../../layouts/Layout.astro'

// Libs
import { getTranslations } from '../../../lib/i18n/utils'
import PageSEO from '../../../components/utils/PageSEO.astro'

// Components
import ReservationForm from '../../organisms/booking/ReservationForm'

interface Props {
  lang: 'en' | 'es'
  pageKey: string
}

const { lang, pageKey } = Astro.props
const t = getTranslations(lang)

const action = lang === 'es' ? '/es/mi-reservacion' : '/my-reservation'

const formTranslations = {
  heading: t('pages.reservation.form.heading'),
  codeLabel: t('pages.reservation.form.code.label'),
  emailLabel: t('pages.reservation.form.email.label'),
  submit: t('pages.reservation.form.submit'),
}
---

<Layout pageKey={pageKey}>
  <PageSEO
    currentPage='reservation'
    slot='seo'
  />

  <section class=''>
    <div class='bg-accent mb-16 w-full py-12 text-center text-black'>
      <div class='container mx-auto'>
        <h1 class='font-title text-3xl! font-bold uppercase md:text-5xl'>
          {t('pages.reservation.title')}
        </h1>
      </div>
    </div>

    <div class='container mx-auto max-w-xl! px-4'>
      <ReservationForm
        client:load
        action={action}
        translations={formTranslations}
      />

      <div class='mt-12 text-center'>
        <h3 class='mb-2 font-bold'>{t('pages.reservation.help.title')}</h3>
        <p class='text-gray-600'>{t('pages.reservation.help.text')}</p>
      </div>
    </div>
  </section>
</Layout>
