---
// Libs
import { getLangFromUrl, useTranslations } from "../../../lib/i18n/utils";
import { marked } from "marked";

// Components
import Layout from "../../../layouts/Layout.astro";
import PageSEO from "../../utils/PageSEO.astro";
import RouteMap from "../../molecules/booking/RouteMap";
import WhyChooseUs from "../../organisms/WhyChooseUs.astro";
import H2 from "../../atoms/H2.astro";
import ButtonCta from "../../atoms/ButtonCta.astro";

// Props
const { pageKey } = Astro.props;
const page = "results";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout pageKey={pageKey}>
  <PageSEO currentPage={page} slot="seo" />
  <section class="container mx-auto px-4 py-12">
    <div class="flex flex-col-reverse gap-8 lg:flex-row-reverse">
      <div class="flex w-full flex-col items-center justify-center">
        <h1 class="font-title text-4xl font-bold text-gray-900 md:text-6xl">
          {t("pages.results.title")}
        </h1>
        <p class="mt-4 text-gray-600">
          {t("pages.results.description")}
        </p>
      </div>

      <!-- sidebar -->
      <div class="sidebar mx-auto w-full max-w-md">
        <!-- Map -->
        <H2 class="[&_strong]:text-blue my-4">
          <Fragment
            set:html={marked.parseInline(
              t("pages.results.sidebar.route.title"),
            )}
          />
        </H2>
        <RouteMap
          labels={{
            mapAriaLabel: t("pages.results.sidebar.route.mapAriaLabel"),
          }}
          client:load
        />

        <!-- Booking -->
        <ButtonCta id="modify-route-btn" type="button" class="mt-8 w-full">
          {t("pages.results.sidebar.route.modifyBtn")}
        </ButtonCta>

        <WhyChooseUs />
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const modifyBtn = document.getElementById("modify-route-btn");
    modifyBtn?.addEventListener("click", () => {
      alert("click");
    });
  });
</script>
