@import 'tailwindcss';

/* Variables */
:root {
  --color-accent: #ff8c00;
  --color-accent-dark: #cc7000;
  --color-black: #333333;
  --color-gray: #757575;
  --color-gray-light: #fff8f0;
  --color-gray-dark: #333333;
  --font-title: 'Metropolis', sans-serif;
  --font-sans: 'Inter Variable', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 8rem auto;
  max-width: 1350px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.debug {
  border: 1px solid red;
}

p {
  margin-bottom: 1rem;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--color-gray-dark));
  font-family: var(--font-title);
}

a {
  color: var(--color-accent);
}
a:hover {
  color: var(--color-accent-dark);
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-dark);
}
