@import 'tailwindcss';

/* Inter Variable - Local */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/inter/inter-latin-wght-normal.woff2')
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Metropolis - Local */
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/metropolis/metropolis-latin-400-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/metropolis/metropolis-latin-700-normal.woff2')
    format('woff2');
}

/* Variables */
@theme {
  --color-accent: #894700;
  --color-black: #222222;
  --color-gray: #757575;
  --color-gray-light: #f9fafb;
  --color-gray-dark: #333333;
  --font-title: 'Metropolis', sans-serif;
  --font-sans: 'Inter Variable', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14.5px;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 8rem auto;
  max-width: 1350px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.debug {
  border: 1px solid red;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--color-gray-dark));
  font-family: var(--font-title);
}

a {
  color: var(--color-accent);
  transition: opacity 0.2s ease-in-out;
}
a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
