---
// Layout
import Layout from "../../layouts/Layout.astro";

// Libs
import { useTranslations } from "../../lib/i18n/utils";
import { getStaticPathsLangs } from "../../lib/utils";
import { marked } from "marked";

// i18n
export const getStaticPaths = getStaticPathsLangs;

// Components
import PageSEO from "../../components/utils/PageSEO.astro";
import BookingForm from "../../components/organisms/BookingForm";

// Images
import homeBannerImg from "../../assets/images/home-banner.webp";

// Page data
const page = "home";

// Props
interface Props {
  lang: "en" | "es";
}
// Get language from params or props
const { lang } = Astro.params as { lang: "en" | "es" };

// Tranlation texts
const t = useTranslations(lang);
---

<Layout preloadImage={homeBannerImg.src}>
  <!-- Page SEO -->
  <PageSEO currentPage={page} slot="seo" />

  <!-- Form -->
  <div class="form-wrapper debug max-w-md">
    <BookingForm
      translations={t("global.booking")}
      defaultFrom="cun"
      defaultTo="merida"
      client:idle
      className="-mt-28"
    />
  </div>
</Layout>
