---
// Layout
import Layout from '../../layouts/Layout.astro'

// Libs
import { useTranslations } from '../../lib/i18n/utils'
import { getStaticPathsLangs } from '../../lib/utils'

// i18n
export const getStaticPaths = getStaticPathsLangs
import PageSEO from '../../components/utils/PageSEO.astro'

interface Props {
  lang: string
}

// Get language from params or props
const { lang } = (Astro.params as any) || (Astro.props as any)
const t = useTranslations(lang)
---

<Layout>
  <slot name='seo'>
    <PageSEO
      currentPage='home'
      lang={lang}
    />
  </slot>
  <h1 class='text-3xl font-bold'>
    {t('branding.businessName')}
  </h1>
</Layout>
