---
// Layout
import Layout from '../../layouts/Layout.astro'

// Libs
import { useTranslations } from '../../lib/i18n/utils'
import { getStaticPathsLangs } from '../../lib/utils'

// i18n
export const getStaticPaths = getStaticPathsLangs

interface Props {
  lang: string
}

// Get language from params or props
const { lang } = (Astro.params as any) || (Astro.props as any)
const t = useTranslations(lang)
---

<Layout>
  <h1 class='text-3xl text-red-500 h-[120vh] block w-full debug'>
    {t('branding.businessName')}
  </h1>
</Layout>
