---
// Components
import { Image } from 'astro:assets'

// Props
interface Props {
  src: string
  alt: string
}

const { src, alt } = Astro.props
---

<section
  id='banner-image'
  class='bg-cover bg-center h-[500px] w-[98%] mx-auto rounded-xl relative'
  style={`background-image: url('${src}')`}
>
  <div
    class='container absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white'
  >
    <slot />
  </div>
</section>
