---
// Props
interface Props {
  src: string;
  alt: string;
  title: string;
}

const { src, alt, title } = Astro.props;
---

<section
  id="banner-image"
  class="relative -z-10 mx-auto h-[500px] w-[98%] overflow-hidden rounded-xl"
>
  <img
    src={src}
    alt={alt}
    title={title}
    fetchpriority="high"
    class="absolute inset-0 h-full w-full object-cover object-center"
  />
  <div
    class="absolute top-1/2 left-1/2 container -translate-x-1/2 -translate-y-1/2 transform text-center text-white"
  >
    <slot />
  </div>
</section>
