---
import { Image } from "astro:assets";

// Props
interface Props {
  src: any;
  alt: string;
  title: string;
  class?: string;
}

const { src, alt, title, class: className } = Astro.props;
---

<section
  id="banner-image"
  class={`relative -z-10 mx-auto h-[500px] w-[98%] overflow-hidden rounded-xl ${className}`}
>
  <Image
    src={src}
    alt={alt}
    title={title}
    widths={[600, 1200, src.width]}
    sizes="100vw"
    quality={60}
    format="avif"
    loading="eager"
    fetchpriority="high"
    decoding="sync"
    class="absolute inset-0 h-full w-full object-cover object-center"
  />
  <div
    class="absolute top-1/2 left-1/2 container -translate-x-1/2 -translate-y-1/2 transform text-center text-white"
  >
    <slot />
  </div>
</section>
