---
// Components
import Button from './base/Button.astro'

// Props
interface Props {
  href: string
  target?: string
  class?: string
}

const { href, target = '_self', class: className } = Astro.props
---

<a
  href={href}
  target={target}
  class={`${className} whitespace-nowrap`}
>
  <Button variant='primary'>
    <slot />
  </Button>
</a>
