---
import { clsx } from 'clsx'

// Props
interface Props {
  href: string
  target?: string
  class?: string
  variant?: 'orange' | 'blue' | 'black' | 'gray' | 'grayDark'
}

const {
  href,
  target = '_self',
  class: className,
  variant = 'orange',
} = Astro.props

const variants = {
  orange: 'bg-accent text-black',
  blue: 'bg-blue text-white',
  black: 'bg-black text-white',
  gray: 'bg-gray text-white',
  grayDark: 'bg-gray-dark text-white',
}
---

<a
  href={href}
  target={target}
  class={clsx(
    'btn px-6 py-5 rounded-lg text-sm text-center whitespace-nowrap transition-all hover:scale-105',
    variants[variant],
    className
  )}
>
  <slot />
</a>
