---
// Props
interface Props {
  href: string
  target?: string
  class?: string
}

const { href, target = '_self', class: className } = Astro.props
---

<a
  href={href}
  target={target}
  class={`${className} btn px-6 py-5 rounded-lg text-sm text-center bg-accent text-white whitespace-nowrap`}
>
  <slot />
</a>
