---
// Props
interface Props {
  class?: string
  id?: string
}

const { class: className, id = '', ...props } = Astro.props
---

<h2
  class={`text-xl font-bold ${className}`}
  id={id}
  {...props}
>
  <slot />
</h2>
