---
interface Props {
  link: string;
  label: string;
  class?: string;
  ariaLabel?: string;
  title?: string;
}

const { link, label, class: className, ariaLabel, title } = Astro.props;
---

<a
  href={link}
  aria-label={ariaLabel}
  title={title}
  class={`p-2 lg:p-4 hover:no-underline! hover:bg-accent/10 rounded-lg text-black lg:text-accent-dark hover:scale-[103%] inline-block text-center ${className || ""}`}
>
  {label}
</a>
