---
// Icons
import { FaAngleRight } from "react-icons/fa6";

// Props
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<details class="group bg-gray-light my-2 rounded-lg p-6" open>
  <summary
    class="text-md flex cursor-pointer list-none items-center justify-start font-medium text-black transition-colors duration-300 focus:outline-none"
  >
    <FaAngleRight
      className="mr-2 h-4 w-4 text-black transition-transform duration-300 group-open:-rotate-90"
    />
    <h3>{question}</h3>
  </summary>
  <div
    class="text-gray border-blue markdown mx-4 mt-2 border-l-3 pl-4"
    set:html={answer}
  />
</details>

<style>
  summary::-webkit-details-marker {
    display: none;
  }
</style>
