---
// Libs
import clsx from "clsx";

// Components
import NavLink from "../atoms/NavLink.astro";
import { MOBILE_MENU_STYLES } from "../../styles/menu";

// i18n
import {
  getTranslations,
  getLangFromUrl,
  getLocalizedPath,
} from "../../lib/i18n/utils";

// Props
interface Props {
  mode?: "desktop" | "mobile";
}

const { mode = "desktop" } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = getTranslations(lang);

const links = [
  {
    key: "cancun",
    link: getLocalizedPath("home", lang),
  },
  {
    key: "carmen",
    link: getLocalizedPath("playa", lang),
  },
  {
    key: "tulum",
    link: getLocalizedPath("tulum", lang),
  },
  {
    key: "blog",
    link: getLocalizedPath("blog", lang),
  },
];
---

<ul
  class:list={[
    mode === "desktop"
      ? "mx-auto hidden w-full grid-cols-4 items-center justify-center gap-0 lg:flex lg:w-10/12 lg:gap-6"
      : "mx-auto w-full gap-0 lg:w-auto lg:gap-2",
  ]}
>
  {
    links.map((link) => (
      <li
        class={clsx(
          mode === "desktop" ? "inline-block" : MOBILE_MENU_STYLES.li,
          "flex items-center justify-center",
        )}
      >
        <NavLink
          link={link.link}
          label={t(`global.menubar.nav.${link.key}`)}
          class={clsx(
            mode === "mobile" ? MOBILE_MENU_STYLES.link : "",
            "mx-auto",
          )}
        />
      </li>
    ))
  }
  <slot />
</ul>
