---
interface Props {
  title: string;
  class?: string;
  id?: string;
  isH1?: boolean;
}

const { title, class: className = "", id, isH1 = false } = Astro.props;

const Tag = isH1 ? "h1" : "h2";
---

<div class={className}>
  <Tag class="text-2xl font-bold" id={id}>
    {title}
  </Tag>
  <div class="mt-4 text-sm">
    <slot />
  </div>
</div>
