---
import TripTypeControls from '../molecules/booking/TripTypeControls'
import CurrencyControls from '../molecules/booking/CurrencyControls'
import SubmitButton from '../molecules/booking/SubmitButton'
import BookingFields from './BookingFields'

interface BookingTranslations {
  tripType: {
    oneWay: string
    roundTrip: string
  }
  currency: {
    usd: string
    mxn: string
  }
  labels: {
    leavingFrom: string
    goingTo: string
    pickupDate: string
    pickupTime: string
    passengers: string
  }
  submit: string
}

interface Props {
  translations: BookingTranslations
}

const { translations } = Astro.props
---

<section class='w-full flex justify-center'>
  <form class='px-8 py-6 bg-accent rounded-xl container mx-12 w-11/12'>
    <!-- Controls -->
    <header class='text-sm flex w-full justify-between gap-4'>
      <TripTypeControls
        labels={translations.tripType}
        client:load
      />
      <CurrencyControls
        labels={translations.currency}
        client:load
      />
      <SubmitButton
        label={translations.submit}
        client:load
        className='hidden md:block'
      />
    </header>
    <!-- Fields -->
    <BookingFields
      translations={translations}
      client:load
    />
  </form>
</section>
