---
// Styles
import '../styles/global.css'

// Fonts
import '@fontsource/metropolis'
import '@fontsource-variable/inter'

// i18n
const { lang } = Astro.params || 'en'

// Animations / Transitions
import { ClientRouter } from 'astro:transitions'

// Get current page
const segments = Astro.url.pathname.split('/').filter(Boolean)
const last = segments.at(-1)

let currentPage = last
if (!currentPage || currentPage === 'en' || currentPage === 'es') {
  currentPage = 'home'
}

// Sections
import TopBar from '../components/molecules/TopBar.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/x-icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />

    <!-- Preload Critical Fonts -->
    <link
      rel='preload'
      href='/fonts/inter/inter-latin-wght-normal.woff2'
      as='font'
      type='font/woff2'
      crossorigin
    />
    <link
      rel='preload'
      href='/fonts/metropolis/metropolis-latin-700-normal.woff2'
      as='font'
      type='font/woff2'
      crossorigin
    />

    <!-- Preconnect to external origins -->
    <link
      rel='preconnect'
      href='https://maps.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://maps.gstatic.com'
    />

    <!-- Pages transition -->
    <ClientRouter />

    <!-- SEO Slot -->
    <slot name='seo' />
  </head>
  <body>
    <TopBar />
    <!-- <Header
      page={currentPage}
    /> -->

    <main class:list={['font-sans']}>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
